<meta name="viewport" content="width=620" />
<title>geolocation</title>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

    <article>
      <p>Finding your location: <span id="status">checking...</span></p>
        <p> Treasure result: <span id="treasure"> Searching... </p>
    </article>
<script>

    var username="hoge";

function getSendGeo() {
    console.log("test1111");
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(success, error);
    }
}

function sendForServer(userid, latitudeData, longitudeData) {

    var sendData = {};
    sendData.name = userid;
    sendData.latitude = latitudeData;
    sendData.longitude = longitudeData;


    $.ajax({
       type:'POST',
        url: 'http://54.178.206.245:3000',
        data:JSON.stringify(sendData),
        contentType: 'application/json',
        dataType: 'text',
        success: function(msg) {
            console.log("success : " + msg );
            var s = document.querySelector('#treasure');
            s.innerHTML = msg;
        }, error: function(xhr, status){
            console.log("error send xhr:"+xhr + " status:"+status);
        }
    });
}

var gCounterLat=0.0;
var gCounterLong=0.0;
// For debug
function getDummyLat(userID, latitude)
{
    return latitude + gCounterLat*0.0001;

}
function getDummyLong(userID, longtitude)
{
    return longtitude + gCounterLong*0.0001;

}
//
function success(position) {
    console.log("success !!!!");
  var s = document.querySelector('#status');

  if (s.className == 'success') {
    // not sure why we're hitting this twice in FF, I think it's to do with a cached result coming back
   // return;
  }

  s.innerHTML = "found you!";
  s.className = 'success';

  var mapcanvas = document.createElement('div');
  mapcanvas.id = 'mapcanvas';
  mapcanvas.style.height = '400px';
  mapcanvas.style.width = '560px';

  document.querySelector('article').appendChild(mapcanvas);



    // For debug
    gCounterLat+=1.0;
    gCounterLong+=1.0;
    var userID = username;
    var lat = getDummyLat(userID,position.coords.latitude);
    var long = getDummyLong(userID, position.coords.longitude);
    sendForServer(userID, lat, long);
    console.log("lat:"+lat, "long:"+long);

    var latlng = new google.maps.LatLng(lat, long);

  var myOptions = {
    zoom: 15,
    center: latlng,
    mapTypeControl: false,
    navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL},
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  var map = new google.maps.Map(document.getElementById("mapcanvas"), myOptions);

  var marker = new google.maps.Marker({
      position: latlng,
      map: map,
      title:"You are here! (at least within a "+position.coords.accuracy+" meter radius)"
  });


}

function error(msg) {
  var s = document.querySelector('#status');
  s.innerHTML = typeof msg == 'string' ? msg : "failed";
  s.className = 'fail';

  console.log(arguments);
}

if (navigator.geolocation) {
  navigator.geolocation.getCurrentPosition(success, error);
} else {
  error('not supported');
}


setInterval("getSendGeo()", 10000);


</script>
